<td class='order-userName'>
  <select class='form-control'></select>
</td>

<td class='order-total'>
  <input class='form-control'/>
</td>

<td class='order-notes'>
  <textarea class='form-control'></textarea>
</td>

<td>
  <button class='save btn btn-primary'>Add</button>
</td>