<td class='order-userName'>
  <span class='value'></span>
</td>

<td class='order-total'>
  <span class='value'></span>
</td>

<td class='order-notes'>
  <span class='value'></span>
</td>

<td>
  <button class='btn btn-primary'>Edit</button>
</td>