<!DOCTYPE html>
<html>
<head>
  <title>Marionette Table Example</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <style type="text/css">
    table {
      margin: 5em 0
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
